:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --second-logo-color: #000000;
  --address-color: rgba(255, 255, 255, 0.6);
  --button-bgc: #188ce8;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.list,
.feature-list,
.workers-list,
.portfolio-list {
  list-style: none;
}
/* Logo */
.logo {
  color: var(--accent-color);
}
.studio {
  color: var(--second-logo-color);
}
.studio-second {
  color: var(--primary-white-color);
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.mail,
.tel {
  color: inherit;
}
.mail:hover,
.tel:hover,
.mail:focus,
.tel:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: var(--third-background-color);
}
.hero-title {
  color: var(--primary-white-color);
}
/* Section */
.section-title,
.feature-list .title,
.workers-list .title,
.portfolio-title {
  color: var(--title-text-color);
}
/* Footer */
.contacts {
  background-color: var(--third-background-color);
}
.second-mail,
.second-tel {
  color: var(--address-color);
}
.second-mail:hover,
.second-mail:focus,
.second-tel:hover,
.second-tel:focus {
  color: var(--accent-color);
}
.address {
  color: var(--primary-white-color);
}
/* Buttons */
.first-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.first-button:hover,
.first-button:focus {
  color: var(--primary-white-color);
  background-color: var(--button-bgc);
}

.second-button {
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  cursor: pointer;
}
.second-button:hover,
.second-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
